$breadcrumb-font-size:              .941rem;
$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding-x:         1.2rem;
$breadcrumb-margin-bottom:          1rem;
$breadcrumb-bg:                     none;
$breadcrumb-divider-color:          rgba(#fff, 0.5);
$breadcrumb-active-color:           rgba(#fff, 0.7);
$breadcrumb-divider:                quote("/");
$breadcrumb-divider-flipped:        $breadcrumb-divider;
$breadcrumb-border-radius:          0;