$input-padding-y:               .475rem;
$input-font-size:               .941rem;

$input-placeholder-color:       #999999;
$input-border-color:            #E5E5E5;
$input-border-radius:           $border-radius-sm;
$input-focus-width:             0;
$input-focus-box-shadow:        null;