$pagination-padding-y: .471rem;
$pagination-padding-x: .824rem;

$pagination-color: $text-muted;
$pagination-hover-color: $dark;
$pagination-hover-bg: #F8F8F8;
$pagination-hover-border-color: #E8E8E8;

$pagination-focus-box-shadow: null;