// Icon wrapper
.icon-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    &.icon-wrap-micro {
        width: 24px;
        height: 24px;
    }
    &.icon-wrap-small {
        width: 38px;
        height: 38px;
    }
    &.icon-wrap-large {
        width: 92px;
        height: 92px;
    }
}