// Sticky nav
.sticky-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-tooltip;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    background: rgba($white, .75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 25px rgba(0, 0, 0, .08);
    &.active {
        transform: translateY(0%);
    }
    &.navbar {
        height: 64px;
    }
    .nav-link {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
}