// Text line
.text-line { 
    position: relative;
    z-index: 1;
    span {
        background-color: $body-bg;
        padding: 0 10px;
        &::before {
            content: "";
            width: 100%;
            position: absolute;
            top: calc(50% - ((0.2px + 0.05em) / 2));
            left: 0;
            border-bottom: 1px solid $border-color;
            z-index: -1;
        }
    }
}