---
layout: default
title: Blog
breadcrumb: true
asBlog: false
asSingle: true
---
<main data-title="blog-single">
    {{> post-title-a-defiant-move-to-the-norwegian-arctic }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>