---
layout: default
title: Blog
breadcrumb: true
asBlog: false
asSingle: true
---
<main data-title="blog-single">
    {{> post-title-thinking-of-going-vegan-what-you-need-to-know-first }}
    {{#if blog.biography }}
        {{> component-author-bio }}
    {{/if}}
    {{#if setting.blog.disqussShortname }}    
        {{> component-disqus }}
    {{/if}}
</main>