<!-- social media begin -->
<div class="social-media-list small hstack gap-3">
	<div><a href="https://facebook.com/indonez" class="color-facebook text-decoration-none"><i class="fab fa-facebook"></i> Facebook</a></div>
	<div><a href="https://x.com/indonez_tw" class="color-twitter text-decoration-none"><i class="fab fa-x-twitter"></i> X</a></div>
	<div><a href="https://instagram.com/indonez_ig/" class="color-instagram text-decoration-none"><i class="fab fa-instagram"></i> Instagram</a></div>
</div>
<!-- social media end -->