// Theme Colors
$primary: #2788ED;
$secondary: #6C757D;
$success: #3BD297;
$info: #93C4F6;
$warning: #F89F5F;
$danger: #EE4F6F;
$light: #F0F0F0;
$dark: #323131;
$background: #FFFFFF;
$body: #333333;
$link: #2788ED;